# MongoDB Connection String
# Get this from MongoDB Atlas: https://cloud.mongodb.com/
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/AstrathonDb?retryWrites=true&w=majority

# Environment
ENV=development
